@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-white text-[20px] md:text-[35px] font-semibold w-[80%] mx-auto;
  }

  .heading:after {
    content: "";
    display: block;
    width: 7rem;
    height: 2px; 
    background-color: rgb(65, 65, 197); 
    margin-top: 5px; 
  }
}

/* Set the background color to black when in dark mode and white when in light mode */
html.dark {
  text: white;
  background-color: white;
}

html.light {
  text: black;
  background-color: black;
}
